@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: white;
    --background-rgb: black;
}

body {
    color: var(--foreground-rgb);
    background: var(--background-rgb);
}

@layer components {
    .search-bar {
        @apply bg-transparent rounded-lg text-base border-transparent focus:outline-none focus:border-solid focus:placeholder:text-transparent transition duration-300;
    }
    .search-bar:hover {
        @apply border-accent-orange;
    }

    .rounded-button {
        @apply rounded-full h-full;
    }

    .page-colums {
        @apply bg-background-secondary;
    }

    .logo {
        text-shadow: -2px -2px white;
    }

    .animated-span {
        opacity: 0;
        animation: appear 0.5s forwards;
    }
}

@keyframes appear {
    to {
        opacity: 1;
    }
}

@layer utilities {
    .search-bar {
        @apply p-2;
    }

    .rounded-button {
        @apply ml-2 w-8;
    }

    .logo-container {
        @apply top-0 left-0 h-8;
    }
}
