@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: white;
    --background-rgb: black;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body {
    color: var(--foreground-rgb);
    background: var(--background-rgb);
}

@layer components {
    .search-bar {
        @apply bg-transparent rounded-lg text-base border-transparent focus:outline-none focus:border-solid focus:placeholder:text-transparent transition duration-300;
    }
    .search-bar:hover {
        @apply border-accent-orange;
    }

    .rounded-button {
        @apply rounded-full bg-background-inline-button h-full transition-all duration-300 hover:bg-accent-orange;
    }

    .page-column {
        @apply p-8 rounded-xl;
    }

    .logo {
        text-shadow: -2px -2px white;
    }

    .animated-span {
        opacity: 0;
        animation: appear 0.5s forwards;
    }

    .profile-header {
        @apply text-base;
        opacity: 0.6;
    }

    .category-pill {
        @apply rounded-md border-spacing-1 border-solid border-2 border-accent-orange text-white px-2 py-1 font-bold;
    }

    .ref-pill {
        @apply rounded-md border-solid border-2 text-white px-2 py-1 font-bold;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-background-clip: text !important;
        background-clip: text !important;
    }

    .form_error {
        @apply;
    }
}

@keyframes appear {
    to {
        opacity: 1;
    }
}

@layer utilities {
    .search-bar {
        @apply p-2;
    }

    .rounded-button {
        @apply ml-2 w-8;
    }

    .logo-container {
        @apply top-0 left-0 h-fit;
    }
}
