@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

.markdown > * {
    all: revert;
}

@layer components {
    .search-bar {
        @apply bg-transparent rounded-lg text-base border-transparent focus:outline-none focus:border-solid focus:placeholder:text-transparent transition duration-300;
    }

    .search-bar:hover {
        @apply border-accent-orange;
    }

    .rounded-button {
        @apply rounded-full bg-background-inline-button h-full transition-all duration-300 hover:bg-accent-orange;
    }

    .page-column {
        @apply p-8;
    }

    .input-icon {
        @apply pointer-events-none text-default-400;
    }

    .logo {
        text-shadow: -2px -2px white;
    }

    .story-timestamp {
        @apply text-xs text-opacity-50;
    }

    .timestamp-pre-text {
        @apply text-xs text-opacity-70 font-bold;
    }

    .animated-span {
        opacity: 0;
        animation: appear 0.5s forwards;
    }

    .profile-section-header {
        @apply text-base;
        opacity: 0.6;
    }

    .category-pill {
        @apply rounded-md border-spacing-1 border-solid border-2 border-accent-orange px-2 py-1 font-bold;
    }

    .ref-pill {
        @apply rounded-md border-solid border-2  px-2 py-1 font-bold;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-background-clip: text !important;
        background-clip: text !important;
    }

    .form_error {
        @apply;
    }
}

@keyframes appear {
    to {
        opacity: 1;
    }
}

@layer utilities {
    .search-bar {
        @apply p-2;
    }

    .share-tech-mono {
        font-family: 'Share Tech Mono';
    }

    .fira-sans {
        font-family: 'Fira Sans';
    }

    .rounded-button {
        @apply ml-2 w-8;
    }

    .utility-small-icon {
        @apply w-8 h-8 p-0;
    }

    .logo-container {
        @apply top-0 left-0 h-fit;
    }

    .social-link {
        @apply inline-block mr-2;
    }
}
